@page "/counter"

@using NumeralToRoman.Extentions

<PageTitle>Counter</PageTitle>

<h1>Numeral to roman</h1>

<div class="d-flex flex-column gap-4">
    <div class="d-flex flex-row gap-2 align-items-center">
        <InputNumber @bind-Value="NumeralValue" max="3999" min="1" step="1" />
        <p class="m-0">=> @RomanValue</p>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="() => ConvertToRoman(NumeralValue)">Convert</button>
    </div>
</div>
 
@code {
    private int NumeralValue = 0;
    private string RomanValue = string.Empty;

    private void ConvertToRoman(int num)
    {
        RomanValue = num.ToRoman();
    }
}
